.Livro {
    border: solid 1px grey;
    padding: 6em;
    margin-bottom: 3em;
    list-style-type: none;
    background-color: #fff;
    border-radius: 40px;
}

*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

input{
    border-radius: 20px;
    border: 1px solid grey;
    padding: 10px;
}

form{
    display: flex;
    align-items: center;
    flex-direction: column;
}

button{
    margin-top: 15px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: chartreuse;
}